html,
body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
}

.sounds-list {
    display: flex;
    justify-content: space-between;
    max-width: 800px;
    flex-wrap: wrap;
}

.sounds-list:after {
    content: "";
    flex: auto;
}

.sound-button,
.stop-button {
    width: calc(33% - 5px);
    height: 0;
    display: flex;
    margin-bottom: 10px;
    appearance: none;
    -webkit-appearance: none;
    border: 0;
    padding-bottom: 32%;
    position: relative;
    background: transparent;
    outline: none;
}

@media (min-width: 767px) {
    .sound-button,
    .stop-button {
        width: calc(19.7% - 5px);
        padding-bottom: 19%;
    }
}

.sound-button__inner,
.stop-button__inner {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    background-color: #f6f6f4;
    background-size: 35%;
    background-repeat: no-repeat;
    background-position: center 20%;
    color: #686868;
    font-size: 14px;
    box-shadow: 0 2px 2px 0px rgba(0, 0, 0, 10%);
}

.sound-button--active .sound-button__inner {
    background-color: #9bd7d5;
    color: #f2f2f2;
}

.sound-button__inner svg {
    width: 30%;
    margin: 20% 0 10%;
}

.sound-button--active .sound-button__inner svg .st0 {
    stroke: #f2f2f2;
}

#connection-status {
    height: 14px;
    text-align: right;
    font-size: 10px;
    margin-bottom: 10px;
    color: #666;
    text-transform: uppercase;
    font-weight: 700;
}